# Bot token from @BotFather
BOT_TOKEN= os.getenv("8669573949:AAFWKdWp8njdHNuBLlzg__dBb9Z-N9YsiCg")
# Required channel for forced join (@V2ray_company)
REQUIRED_CHANNEL=V2ray_company

# Optional: Admin Telegram IDs (comma separated)
ADMIN_IDS=8669573949
